<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junction AI Trainer</title>
    <!-- Place your stylesheet link(s) here -->
    <link rel="stylesheet" href="css/app.min.css">
    <!-- Other head elements like scripts, styles, or meta information can go here -->
</head>
<body>
    <div id="app_container">                   
        <rws-router></rws-router>  
        <!-- <default-layout></default-layout>               -->
    </div>

    <!-- Place your JavaScript file(s) at the end of the body to load them after the HTML content -->
    <script src="js/cfg/cfg.js"></script>
    <script src="js/app.min.js"></script>
    <script type="text/javascript">        
        window.RWSClient.start(_RWS_CFG);
    </script>
</body>
</html>
