<div class="upload_area">
    <fast-card>
        <h3>Upload file</h3>
        <fast-progress :value="${x => x.uploadProgress}" max="100"></fast-progress>
        <article>
            <div class="drag-and-drop"> 
                <div @click="${x => !x.chosenFile ? x.onChoose() : (() => {})()}" class="upl-background"></div>
                ${T.when(x => !x.chosenFile, T.html`<p @click="${x => !x.chosenFile ? x.onChoose() : (() => {})()}" class="dropinfo">Drag and drop here to upload</p>`)}
                ${T.when(x => x.chosenFile, T.html`<div class="file-block">${ x => x.chosenFile.name} <span @click="${ x => x.removeFile() }" class="close-btn">X</span></div>`)}
            </div>
            <div class="upl-controls">
                <fast-button @click="${ x => x.onChoose() }" appearance="outline">Choose book</fast-button>                
            </div>
        </article>
        <fast-button @click="${ x => x.onUploadStart() }" :disabled="${ x => x.chosenFile ? false : true }" appearance="accent" class="next">Upload</fast-button>
    </fast-card>
</div>